<!doctype html>
<html lang=en ng-app>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular with Directives</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <style>
    * {
      box-sizing : border-box;
    }
    body {
      font: 16ox/1.5 sans-serif;
      color: #222;
      margin: 5em;
    }
  </style>
</head>
<body>

<div>
  <label>Name:</label>
  <input type="text"
         ng-model="name"
         autofocus>
</div>
<div>
  <input type="checkbox"
         ng-model="checkedShow">
  <label>Show?</label>
  <input type="checkbox"
         ng-model="checkedHide">
   <label>Hide?</label>
</div>

<div ng-show="checkedShow"> <!-- Angular checks if it's Truthy -->
  Show Hello, {{ name || 'world' }}!
</div>
<div ng-hide="checkedHide"> <!-- the reverse checks if it's Falsy -->
  Hide Hello, {{ name || 'world' }}!
  <!-- templates are just Javascript you can use or operator for defaults-->
</div>

</body>
<script type="text/javascript">

</script>
</html>

  <!--
  Directives are a way to teach html new tricks
   -->
