<!doctype html>
<html lang=en ng-app>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filters in Angular</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <style type="text/css">
    * {
      box-sizing: border-box;
    }
    body {
      font: 16px/1.5 sans-serif;
      color: #222;
      margin: 3em;
    }
    select {
      width: 40%;
    }
  </style>
</head>
<body>

<div ng-controller="FilterCtrl">

  <ul>
    <li>{{ price | currency:'}'}}</li>
    <li>{{ amount | number:6 }}</li>
    <li>{{ message | uppercase }}</li>
    <li>{{ message | lowercase }}</li>
    <li>{{ date | date:'yyyy-MM-dd' }}</li>
  </ul>
  <ul>
    <li ng-repeat="name in names | limitTo:3">
      {{ name }}
    </li>
  </ul>
  <ul>
    <li ng-repeat="person in people | orderBy:'lastname':reverse">
      {{ person.firstname}} {{ person.lastname }}
    </li>
  </ul>

</div>

</body>
<script type="text/javascript">
  var FilterCtrl = function($scope) {
    $scope.price = 11.50;
    $scope.amount = 10.123456789;
    $scope.message = "Hello World";
    $scope.date = new Date();
    $scope.names = ['Tom', 'Laura', 'Zoe', 'Jeffrey', 'Patrick'];
    $scope.people = [
      {
        firstname: 'Tom',
        lastname: 'Ashworth'
      },
      {
        firstname: 'Jeffrey',
        lastname: 'Way'
      },
      {
        firstname: 'Jow',
        lastname: 'Bloggs'
      }
    ];
  }
</script>
</html>
